@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    scroll-behavior: smooth;
}

#bg {
    background-image: url('../img/bg.gif');
    background-repeat: repeat;
}

a:hover {
    color: #ff7a7a;
}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: 2px solid;
}
.banner-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.banner-nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: .5% .5%;
    border-bottom: 2px solid transparent;

    transition: 0.2s ease-out;
}
.banner-nav a:hover{
    border-bottom: 2px solid;
}

.mybutton {
    font-family: 'Roboto';
    font-size: 24px;
    color: #151D21;
    background: #ff7a7a;
    display: inline-flex;
    text-align: center;
    padding: 6px;
    margin-top: 10px;
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
}
.myin {
    font-family: 'Roboto';
    font-size: 24px;
    color: #151D21;
    display: inline-flex;
    padding: 6px;
    border: 2px solid gray;
    border-radius: 5px;
}

.mybutton:hover {
    background: white;
    font-size: 25px;
}
body {
    font-family: 'Roboto';
    font-size: 25px;
    color: aliceblue;
}

h1{
    margin: auto;
    text-align: center;
    font-family: 'Roboto';
    font-size: 50px;
    padding-top: 20px;
    color: aliceblue;
}
h2{
    margin: auto;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto';
    color: aliceblue;
}

table {
    border-collapse: collapse;
    width: 50%;
  }

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    overflow: hidden;
}
.flex-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 5% 15% 0% 15%;
    overflow: hidden;
}

.flex-container > div {
    text-align: center;
}
.input {
    text-align: center;
}
.flex-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.flex-product {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5%;
    justify-content: center;
}
#card-style{
    width: 30%; 
    height: 30%; 
    margin-bottom: 10%; 
    transition: 0.2s ease-out;
}
#prod-img{
    width: 345px; 
    height: 250px; 
    align-self: center;
}
#product-img{
    max-height: 500px; 
    max-width: 600px; 
    height: 60%; 
    width: 60%;
}
@media screen and (max-width: 600px){
    .banner-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flex-catalog {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        margin: 5% 5% 0% 15%;
        overflow: hidden;
    }
    .flex-product {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 5%;
        justify-content: center;
    }    
    table {
        width: 100%;
    }
    #qty{
        padding: 0px;
    }
    #card-style{
        width: 70%;  
        margin-bottom: 10%; 
        transition: 0.2s ease-out;
    }
    #prod-img{
        width: 224px; 
        height: 170px; 
        align-self: center;
    }
    #searchTerm{
        width: 40%;
    }
    #product-img{
        align-self: center;
    }
}
